@import ../../../styles/helpers

.title
    font-size: 18px
    font-weight: 500
    margin-bottom: 10px

.shareContainer
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    margin: 40px 0
    padding: 10px 0
    img
        width: 25px
        filter: grayscale(100%)
        color: $n4

.globeIcon
    height: 14px


.button
    height: 45px
    width: 45px
    border-radius: 10px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    transition: all .3s
    background-color: $n7
    &:hover
        background-color: $n6
        transition: all .3s
    img
        width: 20px
        filter: grayscale(100%)

.linkText
    margin: 0px 10px
    overflow-x: auto
    overflow-y: hidden
    white-space: nowrap
    scrollbar-width: none

.socialButtons
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    margin: 0px 5px
    div
        margin: 0px 10px
