@import ../../../styles/helpers


.container
  max-width: 400px

.text
  padding: 20px 0px
  text-align: center

.buttonContainer
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  