.szh-accordion__item
    border-bottom: 3px solid #E6E8EC
    padding: 10px 0px

.szh-accordion__item-btn
    font-size: 16px
    font-weight: bold
    width: 100%
    text-align: left

.szh-accordion__item-panel ul
    list-style-type: disc
    padding-left: 20px

.szh-accordion__item-panel li
    font-size: 14px
    padding: 2px 0px
    color: #777E90