@import ../../../styles/helpers

.container
    min-width: 350px
    margin: auto

.titleContainer
        display: flex
        flex-direction: row
        align-items: center



.title
    font-size: 18px
    font-weight: 500

.subtitle
    +caption-1
    margin-top: 5px
    margin-bottom: 30px


.footerText
    font-size: 14px
    font-weight: 500
    margin-top: 70px
    text-align: center
    color: $n4


.typeRow
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin: 20px 0px

.title 
    font-weight: 500

.dropdownHolder
    margin-top: 20px