@import ../../../styles/helpers

.titleContainer
        display: flex
        flex-direction: row
        align-items: center
        img
            height: 20px 
            width: 20px 
            margin-right: 5px



.title
    font-size: 18px
    font-weight: 500

.inputContainer
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    margin-top: 20px
    margin-bottom: 20px
    textarea 
        border: 2px solid $n6
        padding: 20px
        min-width: 350px
        border-radius: 10px
        min-height: 200px

.buttonsContainer
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-end


.button
    height: 45px
    width: 45px
    border-radius: 10px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    transition: all .3s
    background-color: $n7
    &:hover
        background-color: $n6
        transition: all .3s
    img
        width: 20px
        filter: grayscale(100%)
