@import ../../styles/helpers


.notificationTable
  width: 100%
  margin-bottom: 60px
  table-layout: fixed

thead
  background-color: $n6
  padding: 10px
  font-weight: 300
  text-align: center
  padding: 10px 10px
  border-radius: 5px
  th
    padding: 10px 30px
    font-weight: 300
    text-align: center
    font-size: 12px
    


tbody
  tr
    border-radius: 15px
    td
      padding: 20px 10px
      vertical-align: middle

      &:last-child
        text-align: right
        padding-right: 30px
        font-size: 11px
      img
        width: 150px
        height: 90px  
        border-radius: 10px
        object-fit: cover
        margin: 0px 20px
    &:nth-child(odd) 
      background-color: transparent
    &:nth-child(even)
      background-color: $n7



th:first-child, td:first-child 
    width: 70%
    border-top-left-radius: 10px
    border-bottom-left-radius: 10px
    text-align: left

th:last-child, td:last-child
    width: 30%
    border-top-right-radius: 10px
    border-bottom-right-radius: 10px
    text-align: right



  
.footer
  display: flex
  justify-content: center
  align-items: center,
  margin-bottom: 150px
  margin-top: 20px

.flexData
  display: flex
  justify-content: flex-start
  align-items: center

.messageContent
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start

.actionButton
    width: 20px
    height: 20px
    margin: 0px 10px
    cursor: pointer
    transition: all .3s
    object-fit: contain


.popup
    position: relative
    &.active
        .body
            visibility: visible
            opacity: 1
            transform: translateY(0)



.body
    position: absolute
    z-index: 1
    top: calc(100% + 5px)
    left: 0px
    width: 292px
    padding: 8px
    border-radius: 20px
    box-shadow: 0px 20px 32px -8px rgba(15, 15, 15, 0.25)
    background: $n8
    visibility: hidden
    opacity: 0
    transform: translateY(10px)
    transition: all .3s
    +m
        top: 100%
        right: 0px
        width: auto





.item
    display: flex
    align-items: center
    padding: 0 20px
    height: 48px
    color: $n4
    transition: all .2s
    cursor: pointer
    border-radius: 8px
    justify-content: space-between
    img
        margin-right: 12px
        fill: $n4
        transition: fill .2s
    &:hover
        color: $n2
        background-color: $n6
        img
            fill: $n2
    &.active
        background: $n1
        color: $n6
        img
            fill: $n6
        
.button
    flex: 0 0 calc(50% - 8px)
    width: calc(50% - 8px)
    margin: 0 4px

.head
    width: 34px
    height: 34px
    border: 2px solid $p5
    border-radius: 50%
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 50%

.icon img
    height: 20px
    width: 20px