@import ../../../styles/helpers

.title
    font-size: 18px
    font-weight: 500
    margin-bottom: 30px

.inputContainer
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    border-bottom: 2px solid $p2
    margin: 40px 0
    padding: 10px 0

.buttonsContainer
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

.socialIcon
    width: 25px
    filter: grayscale(100%)

.inputField
    flex: 1
    padding: 0px 10px

.closeButton
    width: 14px
    cursor: pointer